NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here
NEXT_PUBLIC_API_URL=http://localhost:8121/api
E2E_USERNAME_ID=###
E2E_USERNAME=###
E2E_PASSWORD=###
E2E_NEW_USERNAME=###
E2E_NEW_PASSWORD=###
PLAYWRIGHT_BASE_URL=http://localhost:5137